[build]
  base = "site/angular"
  publish = "site/site/browser"
  command = "npm run build:site"

[functions]
  directory = "site/angular/netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
