**/.DS_Store
**/*.map
**/*.ts
**/tsconfig.json
**/tsconfig.*.json
esbuild.mjs
src/**
server/src/**
server/tsconfig.json
node_modules/.cache/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/docs/**
node_modules/**/doc/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/benchmark/**
node_modules/**
